@charset "UTF-8";
/* font 적용 */
@font-face{
	font-family: "NotoSansKR-Bold";
	src:url('fonts/NotoSansKR-Bold.otf');
}
	
@font-face{
	font-family: "NotoSansKR-Thin";
	src:url('fonts/NotoSansKR-Thin.otf');
}

@font-face{
	font-family: "NotoSansKR-Black";
	src:url('fonts/NotoSansKR-Black.otf');
}

@font-face{
	font-family: "NotoSansKR-Light";
	src:url('fonts/NotoSansKR-Light.otf');
}

@font-face{
	font-family: "NotoSansKR-Medium";
	src:url('fonts/NotoSansKR-Medium.otf');
}

@font-face{
	font-family: "NotoSansKR-Regular";
	src:url('fonts/NotoSansKR-Regular.otf');
}
/* font 적용 */
	
/* 전체 적용 */
body {
	margin: 0 auto;
	padding: 0;
	background-color: #F6F6F6;
	font-family: "NotoSansKR-Regular";
}

h2 {
	font-family: "NotoSansKR-Bold";
}

input {
	font-family: "NotoSansKR-Medium";
}

input:focus {outline:none;}

/* 전체 적용 */

.find_id_box {
	margin-top: 130px;
	margin-bottom: 320px;
}

.find_id_div1 {
	margin-top: -35px;
	margin-bottom: 40px;
}

.find_id_div1 b {
	font-size: 16px;
}

.find_id_div1 span {
	font-size: 14px;
}

.input_name {
	margin-top: -20px;
	border-radius: 4px;
	width:300px; 
	height:50px;
	border: 1px solid rgb(195, 195, 195);
}

.input_email {
	border-radius: 4px;
	margin-top: 10px;
	border: 1px solid rgb(195, 195, 195);
	width:300px; 
	height:50px;
}

.find_btn {
	width: 300px;
	height: 50px;
 	border-radius: 4px;
	border: 0px;
	background-color: #37b04b;
	color: white;
	font-size: 15px;
	margin-top: 20px;
	font-family: "NotoSansKR-Black";
	cursor: pointer;
}

#alert_id_txt {
	font-size: 18px;
}

#alert_id_txt2 {
	font-size: 15px;
}

/* modal 폰트 조정 */
.go_btn {
	font-family: "NotoSansKR-Medium";
}
/* modal 폰트 조정 */
