@charset "UTF-8";
/* font 적용 */
@font-face{
	font-family: "NotoSansKR-Bold";
	src:url('fonts/NotoSansKR-Bold.otf');
}
	
@font-face{
	font-family: "NotoSansKR-Thin";
	src:url('fonts/NotoSansKR-Thin.otf');
}

@font-face{
	font-family: "NotoSansKR-Black";
	src:url('fonts/NotoSansKR-Black.otf');
}

@font-face{
	font-family: "NotoSansKR-Light";
	src:url('fonts/NotoSansKR-Light.otf');
}

@font-face{
	font-family: "NotoSansKR-Medium";
	src:url('fonts/NotoSansKR-Medium.otf');
}

@font-face{
	font-family: "NotoSansKR-Regular";
	src:url('fonts/NotoSansKR-Regular.otf');
}
/* font 적용 */
	
/* 전체 적용 */
body {
	margin: 0 auto;
	padding: 0;
	background-color: #F6F6F6;
	font-family: "NotoSansKR-Regular";
}

h2 {
	font-family: "NotoSansKR-Bold";
}

a {
	display:inline-block;
}

a:hover {
	text-decoration: none;
}
/* 전체 적용 */

.find_box {
	margin-top: 130px;
	margin-bottom: 430px;
}

.find_div1 {
	margin-top: -15px;
}

#search_txt1 {
	font-size: 15px;
}

.find_id_btn {
	margin-top: 15px;
	width: 300px;
	height: 50px;
	background-color: #37B04B;
	color: white;
	font-size: 15px;
	font-family: "NotoSansKR-Black";
	border-radius: 4px;
	text-decoration: none;
}

.find_id_btn:hover {
	color: white;
}
.find_div2 {
	margin-top: 15px;
}

.find_pass_btn {
	margin-top: 15px;
	width:300px; 
	height:50px;
	color: #37B04B;
	font-size: 15px;
	font-family: "NotoSansKR-Black";
	border: 1px solid #37B04B;
	border-radius: 4px;
	background-color: white;
	text-decoration: none;
}

.find_pass_btn:hover {
	color: #37B04B;
}