@charset "UTF-8";
/* font 적용 */
@font-face{
		font-family: "NotoSansKR-Bold";
		src:url('fonts/NotoSansKR-Bold.otf');
}

@font-face{
	font-family: "NotoSansKR-Thin";
	src:url('fonts/NotoSansKR-Thin.otf');
}

@font-face{
	font-family: "NotoSansKR-Black";
	src:url('fonts/NotoSansKR-Black.otf');
}

@font-face{
	font-family: "NotoSansKR-Light";
	src:url('fonts/NotoSansKR-Light.otf');
}

@font-face{
	font-family: "NotoSansKR-Medium";
	src:url('fonts/NotoSansKR-Medium.otf');
}

@font-face{
	font-family: "NotoSansKR-Regular";
	src:url('fonts/NotoSansKR-Regular.otf');
}
/* font 적용 */

/* 전체 적용 */
body {
	margin: 0;
	padding: 0;
	font-family: "NotoSansKR-Regular";
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}
/* 전체 적용 */

.pay_div {
	width: 1000px;
	height: 900px;
	margin: 20px auto;
}

.addClass {
	width: 500px;
	height: 20px;
	margin: 20px auto;
}

.title_zone {
	width: 150px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
}

#detail_btn {
	float: right;
	margin-top: 6px;
	cursor: pointer;
	margin-left: -15px;
}

.heart_info {
	width: 500px;
	height: 110px;
	margin: 20px auto;
}

#heart_info_txt {
	font-size: 18px;
}

.heart_info_div {
	width: 500px;
	height: 60px;
	border: 1px solid rgb(195, 195, 195);
	border-radius: 3px;
	margin-top: 12px;
}

#heart_icon {
	float: left;
	margin-top: 16px;
   	margin-left: 20px;
}

.heart_info_div b {
	line-height: 3.5;
   	font-family: "NotoSansKR-Light";
   	margin-left: 5px;
}

#p_txt {
	font-family: "NotoSansKR-Black";
}

#move_info {
	margin-left: 230px;
	display: inline-block;
	background-color: #37B04B;
	color: white;
	font-size: 13px;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}

.charge_zone {
	width: 500px;
	height: 400px;
	margin: 0 auto;
}

#charge_zone_txt {
	font-size: 18px;
}

.heart_buy_div {
	width: 500px;
	height: 320px;
	background-color: #E6E6E6;
	border-radius: 3px;
	margin-top: 12px;
}

.heart_pay_div1 {
    width: 300px;
    height: 70px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    line-height: 4.2;
    margin-left: 100px;
    margin-top: 30px;
    box-shadow: -3px -3px 7px -3px #d3d3d3, 3px 3px 7px -3px #d3d3d3;
}

.heart_pay_div2 {
    width: 300px;
    height: 70px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    line-height: 4.2;
    margin-left: 100px;
    margin-top: 125px;
    box-shadow: -3px -3px 7px -3px #d3d3d3, 3px 3px 7px -3px #d3d3d3;
}

.heart_pay_div3 {
    width: 300px;
    height: 70px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    line-height: 4.2;
    margin-left: 100px;
    margin-top: 220px;
    box-shadow: -3px -3px 7px -3px #d3d3d3, 3px 3px 7px -3px #d3d3d3;
}

#heart_txt {
	font-size: 15px;
	color: #37B04B;
	margin-left: 5px;
}

#heart_icon2 {
	float: left;
	margin-top: 22px;
   	margin-left: 20px;
}

.pay_btn {
	background-color: #37B04B;
    color: white;
    cursor: pointer;
    float: right;
    border: 0;
    font-family: "NotoSansKR-Medium";
    width: 75px;
    height: 30px;
    margin-right: 25px;
    margin-top: 20px;
    border-radius: 3px;
}

.pay_btn:focus {
	outline: none;	
}

.terms_zone {
	width: 500px;
	height: 240px;
	margin: 0 auto;
}

#terms_zone_txt {
	font-size: 18px;
}

.content_div {
	width: 500px;
	height: 300px;
	border-radius: 3px;
	margin: -5px auto;
}

#content_ul {
	margin-left: -35px;
	font-family: "NotoSansKR-Regular";
}

#m_title {
	font-size: 20px;
}

#m_content {
	font-size: 17px;
}

.text_div {
	margin-top: 8px;
}

/* 기타 style */
#back_btn {
	margin-top: 47px;
	cursor: pointer;
}

.go_btn {
	font-family: "NotoSansKR-Medium";
}
/* 기타 style */