@charset "UTF-8";
/* font 적용 */
@font-face {
	font-family: "NotoSansKR-Bold";
	src:url('fonts/NotoSansKR-Bold.otf');
}

@font-face {
	font-family: "NotoSansKR-Thin";
	src:url('fonts/NotoSansKR-Thin.otf');
}

@font-face {
	font-family: "NotoSansKR-Black";
	src:url('fonts/NotoSansKR-Black.otf');
}

@font-face {
	font-family: "NotoSansKR-Light";
	src:url('fonts/NotoSansKR-Light.otf');
}

@font-face {
	font-family: "NotoSansKR-Medium";
	src:url('fonts/NotoSansKR-Medium.otf');
}

@font-face {
	font-family: "NotoSansKR-Regular";
	src:url('fonts/NotoSansKR-Regular.otf');
}
/* font 적용 */

/* 전체 적용  */
body {
	margin: 0 auto;
	font-family: "NotoSansKR-Regular";
}

a {
	text-decoration: none;
}

table {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	border-collapse: collapse;
	border-radius: 20px;
	background-color: white;
	color: #444444;
	box-shadow: -3px -3px 7px -3px #d3d3d3,
                3px 3px 7px -3px #d3d3d3;
}

table thead th {
	padding: 15px;
	text-align: center;
	font-size: 20px;
}

table th {
	width: 150px;
	padding: 5px;
	font-size: 16px;
}

table td {
	width: 650px;
	padding: 5px;
}

input {
	font-family: "NotoSansKR-Regular";
}

input:focus, textarea:focus {
	outline-color: #37B04B;
}

.all {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #E6E6E6;
}

.board_sub {
    text-align: center; 
}

.head_text {
	color: #444444;
	margin-left: 80px;
	font-size: 18px;
}

.board_out {
	margin-top: 40px;
}

.error {
	color: red;
	font-size: 14px;
	font-weight: bold;
}
/* 전체 적용  */

.addClass {
    width: 900px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E6E6E6;
}

/* 카테고리 테이블 */
#detail_btn {
	position: absolute;
	margin-top: 3px;
	margin-left: 5px;
	cursor: pointer;
}

.category_div {
	width: 600px;
	height: 130px;
	margin-left: 30px;
}

.category_img_div {
	margin-left: -100px;
	margin-top: -20px;
}

.category_img_div ul {
	padding-left: 45px;
}

.category_img_div ul li {
	display: inline-table;
}

input[type="radio"] { visibility: hidden;  }

input[type="radio"] + label .b_category1 { 
	cursor: pointer; 
	width: 50px;
	height: 50px;
	background: url("../../image/vacuum.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"]:checked + label .b_category1 { 
	width: 50px;
	height: 50px;
	background: url("../../image/vacuum_check1.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"] + label .b_category2 { 
	cursor: pointer; 
	width: 50px;
	height: 50px;
	margin-left: 30px;
	background: url("../../image/cleaning-tools.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"]:checked + label .b_category2 { 
	width: 50px;
	height: 50px;
	background: url("../../image/cleaning-tools_check.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"] + label .b_category3 { 
	cursor: pointer; 
	width: 50px;
	height: 50px;
	margin-left: 35px;
	padding-left: 5px;
	background: url("../../image/kitchen.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"]:checked + label .b_category3 { 
	width: 50px;
	height: 50px;
	background: url("../../image/kitchen_check.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"] + label .b_category4 { 
	cursor: pointer; 
	width: 50px;
	height: 50px;
	margin-left: 30px;
	padding-left: 5px;
	background: url("../../image/maid.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"]:checked + label .b_category4 { 
	width: 50px;
	height: 50px;
	background: url("../../image/maid_check.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"] + label .b_category5 { 
	cursor: pointer; 
	width: 50px;
	height: 50px;
	margin-left: 30px;
	padding-left: 5px;
	background: url("../../image/apartment.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"]:checked + label .b_category5 { 
	width: 50px;
	height: 50px;
	background: url("../../image/apartment_check.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"] + label .b_category6 { 
	cursor: pointer; 
	width: 50px;
	height: 50px;
	margin-left: 30px;
	background: url("../../image/coronavirus.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

input[type="radio"]:checked + label .b_category6 { 
	width: 50px;
	height: 50px;
	background: url("../../image/coronavirus_check.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
}

.category_text_div {
	margin-left: -120px;
	font-family: "NotoSansKR-Black";
}

.category_text_div b {
	cursor: pointer; 
	border: 1px solid #37B04B;
	padding: 5px;
	border-radius: 15px;
	font-size: 14px;
	background-color: white;
	-webkit-transition-duration: 0.2s; 
	transition-duration: 0.2s
}

.category_text_div b:hover {
	background-color: #37B04B;
	color: white;
}

.category_text_div ul li {
	list-style-type: none;
	display: inline;
	padding-left: 20px;
}

.category_e_zone {
	margin-top: -10px;
}
/* 카테고리 테이블 */

/* 주소 테이블 */
.post_text {
	width:155px; 
	height:40px;
}

.post_button {
    background-color: #37B04B;
    border: 0;
    color: white;
    border-radius: 5px;
    margin-left: 11px;
    height: 45px;
    font-family: "NotoSansKR-Medium";
    cursor: pointer;
    display: inline-block;
    width: 90px;
    font-size: 15px;
}

.info {
	padding: 10px;
	text-align: center;
}

.address_div {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 600px;
	height: 330px;
}

.address_div_left {
	float: left;
	width: 300px;
	margin-left: -15px;
	margin-top: 20px;
}

.address_input {
	width:260px; 
	height:40px;
}

#sample6_address {
	margin-top:22px;
}

.address_div_right {
	float: right;
	width: 300px;
}

.address_div_right .kakao_map {
	width:300px; 
	height:300px; 
	border-radius:5px; 
}

.address_div_default_left {
	display: none;
	float: left;
	width: 300px;
	margin-top: -4px;
	margin-left: -15px;
}

.address_div_default_left b {
	font-size: 13px;
	margin-left: -210px;
}

.post_my {
	width:155px; 
	height:40px;
	margin-left: -103px;
}

.post_my_addr {
	width:260px; 
	height:40px;
}

.btn_addr_div {
	width: 200px;
	height: 30px;
	float: left;
	clear: both;
	margin-top: -5px;
	margin-left: 40px;
}

.btn_default_addr, .btn_new_addr {
	background-color: #37B04B;
	border: 0;
	color: white;
	font-size: 13px;
	padding: 8px;
	border-radius: 5px;
	height:40px;
	cursor: pointer;
}

.btn_default_addr:focus, .btn_new_addr:focus {
	outline: none;
}

.error_address_div {
	width: 600px;
	height: 10px;
}
/* 주소 테이블 */

/* 시급 테이블 */
.money_div {
	width: 600px;
	height: 70px;
}

.money_div b {
	font-size: 20px;
}

.money_div input {
	width:330px; 
    height:40px;
	margin-top: 12px;
	margin-left: -240px;
	font-size: 16px;
}
/* 시급 테이블 */

/* 청소 시작, 끝 테이블 */
.data_tr {
	height: 82px;
}

.data_tr input {
	width: 330px; 
	height: 40px;
	font-size: 14px;
}

.start_div {
	width: 600px;
	height: 45px;
}

.end_div {
	width: 600px;
	height: 45px;
}

.start_div input, .end_div input {
	margin-left:-262px;
}

.detail_div {
	width: 600px;
	height: 45px;
}

.detail_div input {
	margin-left:-260px;
}
/* 청소 시작, 끝 테이블 */

/* 제목, 상세설명 테이블 */
.subject_div {
	width: 600px;
	height: 80px;
}

.subject_div input {
	width: 500px; 
	height: 40px;
	margin-left: -87px;
	font-size: 15px;
	margin-top: 16px;
}

.content_div {
	width: 500px; 
	height: 300px;
}

.content_div textarea {
	margin-left: -86px;
	width:500px;
	height: 280px;
	font-family: "NotoSansKR-Regular";
	font-size: 14px;
	border-radius: 2px;
}

#counter {
	float: right;
	margin-right: 38px;
	font-family: "NotoSansKR-Black";
}
/* 제목, 상세설명 테이블 */

/* 파일 업로드 테이블 */
.img_div {
	width: 600px;
	height: 350px;
	display: none;
}

.file_div {
	width: 600px;
	height: 70px;
}

input[type="file"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
}

.up_btn {
	font-size: 15px;
	background-color: #37B04B;
	color: white;
	padding: 8px;
	margin-left: 20px;
	border-radius: 5px;
	margin-top: 15px;
	float: left;
	display: none;
}

.preview {
	width: 180px;
	height: 180px;
	border-radius: 2px;
}

#preview_txt {
	font-size: 12px;
}

.preview_1img {
	width: 400px;
	height: 300px;
	margin-top: -62px;
	margin-left: -20px;
	border-radius: 5px;
}

#preview_1img_txt {
	margin-left: -20px;
}

.preview_2img {
	width: 250px;
	height: 200px;
	border-radius: 3px;
}

#preview_2img_txt {
	font-size: 15px;
}

#img_ul {
	margin-left: -50px;
	padding-top: 80px;
}

#img_ul li {
	list-style: none;
	display: inline-block;
	padding-left: 10px;
}

.default_img {
	width: 400px;
	height: 300px;
	margin-top: 33px;
	margin-left: -22px;
	border-radius: 5px;
}

		.default_img_div {
	width: 600px;
	height: 350px;
}

#default_ul li {
	list-style: none;
	display: inline-block;
	padding-left: 10px;
}

#default_ul {
	margin-left: -70px;
  		padding-top: 80px
}

.default_upfile {
	width: 180px;
	height: 180px;
}

.default_btn {
	font-size: 15px;
	background-color: #37B04B;
	color: white;
	padding: 8px;
	margin-left: 190px;
	border-radius: 5px;
	margin-top: 15px;
	float: left;
}

.new_btn {
	font-size: 15px;
	background-color: #37B04B;
	color: white;
	padding: 8px;
	margin-left: 20px;
	border-radius: 5px;
	margin-top: 15px;
	float: left;
}

#no_file_txt {
	font-size: 20px;
	margin-left: -10px;
  		margin-top: 72px;
 	 		float: left;
}
/* 파일 업로드 테이블 */

/* submit, reset 버튼 */
.btn_div {
	width: 800px;
	height: 120px;
}

.down_btn_div {
	margin-left: 350px;
}

.down_btn {
	background-color: #37B04B;
	border: 0;
	color: white;
	border-radius: 5px;
	width: 80px;
	height:40px;
	margin-left: 50px;
	font-size: 15px;
	font-family: "NotoSansKR-Medium";
	cursor: pointer;
}
/* submit, reset 버튼 */

/* 광고, 찜 관련 style */
.advr {
	margin-left: 50px;
	width: 800px;
	height: 150px;
	border: 1px solid #37B04B;
	border-radius: 10px;
	background-image: url("../../image/advr_l.png");
	background-repeat: no-repeat;
	background-size: 800px 150px;
	cursor: pointer;
}

.modal_join {
	font-size: 15px;
	text-align: center;
}

.mj_div1 {
	width: 400px;
	height: 60px;
	margin: 0 auto;
}

.mj_icon1 {
	margin-left: 50px;
  		float: left;
}

.mj_txt1 {
	margin-left: 10px;
    float: left;
    font-size: 18px;
    margin-top: 20px;
}

.mj_div2 {
	width: 400px;
	height: 60px;
	margin: 0 auto;
}

.mj_icon2 {
	margin-left: 50px;
  		float: left;
}

.mj_txt2 {
	margin-left: 10px;
    float: left;
    font-size: 18px;
    margin-top: 20px;
}

.mj_div3 {
	width: 400px;
	height: 60px;
	margin: 0 auto;
}

.mj_icon3 {
	margin-left: 50px;
  		float: left;
}

.mj_txt3 {
	margin-left: 10px;
    float: left;
    font-size: 18px;
    margin-top: 20px;
}

.mw_img {
	width: 60px;
    height: 60px;
    float: left;
    margin-left: 30px;
}

.mw_txt {
    font-size: 20px;
    margin-left: 10px;
    float: left;
    margin-top: 18px;
}

.heart_icon {
	margin-left: 70px;
  		float: left;
}

.no_heart_icon {
	margin-left: 20px;
  		float: left;
}
/* 광고, 찜 관련 style */

/* 청소 안내 modal style */
#m_title {
	font-size: 20px;
}

.m_div1 {
	width: 330px;
	height: 40px;
	margin: 15px auto;
	border-bottom: 1px solid #888888;
}

.m_div1 b, .m_div1 span {
	font-size: 17px;
	float: left;
}

.m_div2 {
	width: 330px;
	height: 40px;
	margin: 15px auto;
	border-bottom: 1px solid #888888;
}

.m_div2 b, .m_div2 span {
	float: left;
	font-size: 17px;
}
/* 청소 안내 modal style */

/* 기타 style */
#back_btn {
	cursor: pointer;
 		 	position: absolute;
  		margin-left: 55px;
  		margin-top: 85px;
}

.go_btn {
	font-family: "NotoSansKR-Medium";
}
/* 기타 style */