@charset "UTF-8";
 	@font-face{
		font-family: "NotoSansKR-Bold";
		src:url('fonts/NotoSansKR-Bold.otf');
	}
	 @font-face{
		font-family: "NotoSansKR-Thin";
		src:url('fonts/NotoSansKR-Thin.otf');
	}
	 @font-face{
		font-family: "NotoSansKR-Black";
		src:url('fonts/NotoSansKR-Black.otf');
	}
	 @font-face{
		font-family: "NotoSansKR-Light";
		src:url('fonts/NotoSansKR-Light.otf');
	}
	 @font-face{
		font-family: "NotoSansKR-Medium";
		src:url('fonts/NotoSansKR-Medium.otf');
	}
	 @font-face{
		font-family: "NotoSansKR-Regular";
		src:url('fonts/NotoSansKR-Regular.otf');
	}
	
	/* 사용하실때  예)
	1. webapp 폴더 하위에fonts 폴더 생성 > fonts폴더 안에 글꼴 다운
	2. font.css 링크 삽입 후 
	<link rel="stylesheet" type="text/css" href="fonts/font.css"> <!-- 링크 안먹으면 style 태그안에 위 내용 복붙 -->
	
	3. 원하는 글꼴태그에 css적용
	 font-family: "NotoSansKR-Bold", serif;
	*/